<div class="container col-6">
  <h3>Add new bookmark to <%= @list.name %></h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>

    <%= f.association :movie %>
    <%= f.submit 'Add', class: 'btn btn-success' %>
  <% end %>
</div>
